<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <head>
      <%- include('../partials/header'); %>
    </head>
      <h1><%= title %></h1>
      <form action='' method='POST'>
        <label for='family_name'>Family Name:</label>
        <input type='text' name='family_name' value='<%= locals.author ? author.family_name : '' %>'/>
        <br/>
        <label for='first_name'>First Name:</label>
        <input type='text' name='first_name' value='<%= locals.author ? author.first_name : '' %>'/>
        <br/>
        <label for='date_of_birth'>Date of Birth:</label>
        <input type='date' name='date_of_birth' value='<%= locals.author ? author.date_of_birth : '' %>'/>
        <br/>
        <label for='date_of_death'>Date of Death:</label>
        <input type='date' name='date_of_death' value='<%= locals.author ? author.date_of_death : '' %>'/>
        <br/>
        <button type='submit'>Create</button>
      </form>
      <% if(locals.errors) { %>
        <ul>
          <% for(let i = 0; i < errors.length; i++) { %>
            <li><%= errors[i].msg %></li>
          <% } %>
        </ul>
      <% } %>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>
